.NavbarItems {
  
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index:1;
}

.navbar img {
  height: 150px;
  color: black;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}


.fa-cat {
  margin-left: 0.5rem;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

/*.nav-links:{
    color:white;
    text-decoration: none;
    padding: 0.5rem;
}*/
.nav-links:hover {
  background-color: #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}
